body{
  text-align: center;
  width: 400px;
  font-size: 14px;
}
.container,
.container input,
.container select{
  margin: 10px;
}
#matchListForm {
  display: inline-block;
  max-height: 400px;
  overflow: auto;
}
#matchListForm img {
  width: 100px;
}
#matchListForm img,
#matchListForm span {
  margin: 10px;
}
#matchListForm div {
  display: flex;
  align-items: center;
}
#parseBtn {
  background-color: yellowgreen;
}
#cancelBtn {
  background-color: orange;
}
